body {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "Roboto", arial, sans-serif;
    /* opacity: 0; */
}


/* landing title selection effect */

h2 {
    font-size: 5em;
    /* font-style: italic; */
    /* text-transform: uppercase; */
    letter-spacing: 0.075em;
    margin-bottom: 0.25em;
    /* line-height: 1.2; */
}

h2::-moz-selection {
    text-shadow: 0 0 0 #6699dd, 0.0025em 0.0025em 0 #6699dd, 0.005em 0.005em 0 #6699dd, 0.0075em 0.0075em 0 #6699dd, 0.01em 0.01em 0 #6699dd, 0.0125em 0.0125em 0 #6699dd, 0.015em 0.015em 0 #6699dd, 0.0175em 0.0175em 0 #6699dd, 0.02em 0.02em 0 #6699dd, 0.0225em 0.0225em 0 #6699dd, 0.025em 0.025em 0 #6699dd, 0.0275em 0.0275em 0 #6699dd, 0.03em 0.03em 0 #6699dd, 0.0325em 0.0325em 0 #6699dd, 0.035em 0.035em 0 #6699dd, 0.0375em 0.0375em 0 #6699dd, 0.04em 0.04em 0 #6699dd, 0.0425em 0.0425em 0 #6699dd, 0.045em 0.045em 0 #6699dd, 0.0475em 0.0475em 0 #6699dd, 0.05em 0.05em 0 #6699dd, 0.0525em 0.0525em 0 #6699dd, 0.055em 0.055em 0 #6699dd, 0.0575em 0.0575em 0 #6699dd, 0.06em 0.06em 0 #6699dd, 0.0625em 0.0625em 0 #6699dd, 0.065em 0.065em 0 #6699dd, 0.0675em 0.0675em 0 #6699dd, 0.07em 0.07em 0 #6699dd, 0.0725em 0.0725em 0 #6699dd, 0.075em 0.075em 0 #6699dd, 0.0775em 0.0775em 0 #6699dd, 0.08em 0.08em 0 #6699dd, 0.0825em 0.0825em 0 #6699dd, 0.085em 0.085em 0 #6699dd, 0.0875em 0.0875em 0 #6699dd, 0.09em 0.09em 0 #6699dd, 0.0925em 0.0925em 0 #6699dd, 0.095em 0.095em 0 #6699dd, 0.0975em 0.0975em 0 #6699dd, 0.1em 0.1em 0 #6699dd;
}

h2::selection {
    text-shadow: 0 0 0 #6699dd, 0.0025em 0.0025em 0 #6699dd, 0.005em 0.005em 0 #6699dd, 0.0075em 0.0075em 0 #6699dd, 0.01em 0.01em 0 #6699dd, 0.0125em 0.0125em 0 #6699dd, 0.015em 0.015em 0 #6699dd, 0.0175em 0.0175em 0 #6699dd, 0.02em 0.02em 0 #6699dd, 0.0225em 0.0225em 0 #6699dd, 0.025em 0.025em 0 #6699dd, 0.0275em 0.0275em 0 #6699dd, 0.03em 0.03em 0 #6699dd, 0.0325em 0.0325em 0 #6699dd, 0.035em 0.035em 0 #6699dd, 0.0375em 0.0375em 0 #6699dd, 0.04em 0.04em 0 #6699dd, 0.0425em 0.0425em 0 #6699dd, 0.045em 0.045em 0 #6699dd, 0.0475em 0.0475em 0 #6699dd, 0.05em 0.05em 0 #6699dd, 0.0525em 0.0525em 0 #6699dd, 0.055em 0.055em 0 #6699dd, 0.0575em 0.0575em 0 #6699dd, 0.06em 0.06em 0 #6699dd, 0.0625em 0.0625em 0 #6699dd, 0.065em 0.065em 0 #6699dd, 0.0675em 0.0675em 0 #6699dd, 0.07em 0.07em 0 #6699dd, 0.0725em 0.0725em 0 #6699dd, 0.075em 0.075em 0 #6699dd, 0.0775em 0.0775em 0 #6699dd, 0.08em 0.08em 0 #6699dd, 0.0825em 0.0825em 0 #6699dd, 0.085em 0.085em 0 #6699dd, 0.0875em 0.0875em 0 #6699dd, 0.09em 0.09em 0 #6699dd, 0.0925em 0.0925em 0 #6699dd, 0.095em 0.095em 0 #6699dd, 0.0975em 0.0975em 0 #6699dd, 0.1em 0.1em 0 #6699dd;
}

p::-moz-selection,
span::-moz-selection,
a::-moz-selection {
    background: #6699dd;
    color: white;
    line-height: 140%;
    letter-spacing: 120%;
}


/* selection effect end */

.pc {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 50% 50%;
    overflow-x: hidden;
}

.container .main_container {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    background-color: #ffffff00;
    position: relative;
    overflow-y: auto;
}

.container .main_container h2 {
    color: #00263b;
    text-align: center;
    font-size: 2em;
}

.container .main_container p {
    color: #888;
    padding: 0.5em 2em;
    text-align: center;
}

.container .main_container a {
    text-decoration: unset;
    color: #00796b;
}

.container .main_container .page {
    position: absolute;
    height: 100%;
    display: none;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.container .main_container .page.main {
    text-align: center;
    position: relative;
    height: auto;
}

.container .main_container .page.main.active {
    display: block;
}

.container .main_container .page.main img {
    width: 20%;
    border-radius: 50%;
    border: 1px solid #00263b;
    padding: 2px;
}

.container .main_container .hobbies,
.container .main_container .education,
.container .main_container .work,
.container .main_container .sideprojects {
    -webkit-box-pack: center;
    justify-content: center;
    grid-template-rows: 4em repeat(4, minmax(70px, 100px));
    grid-gap: 10px;
    display: none;
    grid-template-columns: minmax(200px, 600px);
}

.container .main_container .hobbies.active,
.container .main_container .education.active,
.container .main_container .work.active,
.container .main_container .sideprojects.active {
    display: grid;
}

.container .main_container .hobbies .icon_container,
.container .main_container .education .icon_container,
.container .main_container .work .icon_container,
.container .main_container .sideprojects .icon_container {
    display: -webkit-box;
    display: flex;
    justify-self: left;
    text-align: justify;
    font-size: 1em;
    padding: 0 10px;
    margin-top: 20px;
}

.container .main_container .hobbies .icon_container div,
.container .main_container .education .icon_container div,
.container .main_container .work .icon_container div,
.container .main_container .sideprojects .icon_container div {
    width: 20%;
    /* height: 100%; */
    font-size: 3em;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.container .main_container .hobbies .icon_container div img,
.container .main_container .education .icon_container div img,
.container .main_container .work .icon_container div img,
.container .main_container .sideprojects .icon_container div img {
    position: relative;
    border: 2px solid #ccc;
    width: 100%;
}

.container .main_container .hobbies .icon_container>span,
.container .main_container .education .icon_container>span,
.container .main_container .work .icon_container>span,
.container .main_container .sideprojects .icon_container>span {
    color: #888;
    padding: 0 15px;
    align-self: center;
    width: 80%;
}

.container .main_container .hobbies .icon_container .place,
.container .main_container .education .icon_container .place,
.container .main_container .work .icon_container .place,
.container .main_container .sideprojects .icon_container .place {
    font-weight: bold;
    color: #00263b;
}

.container .main_container .hobbies .icon_container .year,
.container .main_container .education .icon_container .year,
.container .main_container .work .icon_container .year,
.container .main_container .sideprojects .icon_container .year {
    font-weight: bold;
}

.container .main_container .hobbies {
    grid-template-rows: 4em repeat(5, minmax(70px, 100px));
}

.container .social {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.container .social a {
    padding: 0 5px;
    font-size: 1em;
    text-decoration: unset;
    color: #5f6368;
}

.container .social a:hover {
    color: #00796b;
}

.container .info_container {
    display: grid;
    grid-template-rows: 50px 1fr;
    background: #f8f9fa;
}

.container .info_container:hover {
    cursor: pointer;
}

.container .info_container .navbar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-bottom: 1px solid #f1f3f4;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.container .info_container .navbar div {
    color: #5f6368;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.container .info_container .navbar div:hover {
    cursor: pointer;
    background: rgba(0, 121, 107, 0.1);
}

.container .info_container .navbar div.mob {
    pointer-events: none;
}

.container .info_container .navbar div span {
    font-size: 0.75em;
}

.container .info_container .navbar div i,
.container .info_container .navbar div span {
    pointer-events: none;
}

.container .info_container .navbar div.selected {
    color: #00796b;
}

.container .info_container .navbar div.bottom {
    position: absolute;
    bottom: 0;
    height: 3px;
    background: #00796b;
    border-radius: 3px 3px 0 0;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    width: 10%;
}

.container .info_container .navbar div.bottom.main {
    left: 12%;
}

.container .info_container .navbar div.bottom.msg {
    left: 45%;
}

.container .users {
    width: 100%;
    display: none;
    grid-template-rows: repeat(6, 1fr);
}

.container .users.active {
    display: grid;
}

.container .users .category {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.container .users .category .cat_arrow {
    position: absolute;
    right: 20px;
    color: #888;
    font-size: 1em;
}

.container .users .category .cat_arrow:hover {
    color: #00796b;
    pointer-events: none;
}

.container .users .category.work .image i.cat {
    background-color: #33691e;
}

.container .users .category.education .image i.cat {
    background-color: #f4906b;
}

.container .users .category.sideprojects .image i.cat {
    background-color: #3858fe;
}

.container .users .category.hobbies .image i.cat {
    background-color: #00c7ae;
}

.container .users .category .image {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 121, 107, 0.025);
}

.container .users .category .image:active {
    pointer-events: none;
}

.container .users .category .image:hover {
    background-color: rgba(0, 121, 107, 0.1);
}

.container .users .category .image img,
.container .users .category .image i.cat {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #f8f9fa;
}

.container .users .category .image i.cat {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.container .users .category .image i.mic {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1em;
    color: #d93025;
}

.container .users .category .cat_name {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 5%;
    font-size: 0.75em;
}

.container .users .category .cat_name:hover {
    pointer-events: none;
    background: rgba(60, 64, 67, 0.04);
}

.container .users .category.selected .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #202124;
    opacity: 0.7;
    z-index: 0;
}

.container .users .category.selected i.mic {
    z-index: 1;
    color: #64ffda;
}

.container .msg_container {
    display: none;
    cursor: default;
    overflow-y: auto;
}

.container .msg_container.active {
    display: grid;
    grid-template-rows: 1fr 5em;
}

.container .msg_container .messages {
    padding: 14px 24px;
    word-break: break-word;
}

.container .msg_container .messages div p:first-child {
    padding-top: 20px;
}

.container .msg_container .messages p {
    color: #202124;
    margin: 5px 0;
}

.container .msg_container .messages #time {
    color: #888;
}

.container .msg_container .messages i {
    font-size: 1em;
}

.container .msg_container div.send {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    border-top: 1px solid #f1f3f4;
}

.container .msg_container div.send input {
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

.container .msg_container div.send i {
    color: #5f6368;
    padding: 10px;
}

.container .msg_container div.send i:hover {
    color: #00796b;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .page {
        font-size: 1.25em;
    }
    .mob {
        display: none !important;
    }
    .pc {
        display: block;
    }
    span.pc {
        padding: 0 0.2em;
    }
    .container.msg_container {
        position: absolute;
        right: 0;
        width: 100%;
        top: 50px;
        height: calc(100% - 50px);
    }
    .container .msg_container div.send {
        align-self: end;
    }
    .container {
        grid-template-columns: 1fr 320px;
        grid-template-rows: 1fr;
    }
    .container div.info_container .navbar div.bottom {
        width: 91px;
    }
    .container div.info_container .navbar div.bottom.main {
        left: 34.5px;
    }
    .container div.info_container .navbar div.bottom.msg {
        left: 200px;
    }
    .container .social {
        bottom: 10px;
        width: calc(100% - 320px);
        height: 1em;
    }
    .container .container .main_container .page.sideprojects .slides {
        min-width: 400px;
    }
    .container .users {
        grid-template-rows: repeat(5, 56px);
    }
    .container .users .category {
        grid-template-columns: 100px 1fr;
    }
}

img {
    user-select: none;
}

.users .active {
    user-select: none;
}

.content-wrapper {
    /* left: 0%; */
    /* top: 30%; */
    flex-direction: row;
    position: relative;
    overflow-y: scroll;
    width: 700px;
    height: 400px;
    /* justify-content: center; */
    margin-top: 500px;
}

.project-footer {
    /* bottom: 10%; */
    position: relative;
    margin-top: 850px;
    align-items: flex-end;
}

.page .sideprojects {
    display: flex;
    flex-direction: column;
}

.title-wraper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}