$bg_color: #ffffff;
$title_color: #00263b;
$content_color: #888;

$icon_color: #5f6368;
$selected_icon_color: #00796b;
$active_panel: rgba(0, 121, 107, 0.025);
$hover_panel_color: rgba(0, 121, 107, 0.1);
$names_color: #202124;
$profile_pict_size: 35px;

$work_bg: #33691e;
$education_bg: #f4906b;
$sp_bg: #3858fe;
$hobbies_bg: #00c7ae;

$mic_color: #d93025;
$mic_active_color: #64ffda;

body {
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "Roboto", arial, sans-serif;
}
.pc {
  display: none;
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-rows: 50% 50%;
  overflow-x: hidden;

  .main_container {
    display: grid;
    align-items: center;
    background-color: $bg_color;
    position: relative;
    overflow-y: auto;

    h2 {
      color: $title_color;
      text-align: center;
      font-size: 2em;
    }
    p {
      color: $content_color;
      padding: 0.5em 2em;
      text-align: center;
    }
    a {
      text-decoration: unset;
      color: $selected_icon_color;
    }

    .page {
      position: absolute;
      height: 100%;
      display: none;
      width: 100%;
      align-items: center;

      &.main {
        text-align: center;
        position: relative;
        height: auto;

        &.active {
          display: block;
        }

        img {
          width: 20%;
          border-radius: 50%;
          border: 1px solid $title_color;
          padding: 2px;
        }
      }
    }

    .hobbies,
    .education,
    .work,
    .sideprojects {
      justify-content: center;
      grid-template-rows: 4em repeat(4, minmax(70px, 100px));
      grid-gap: 10px;
      display: none;
      grid-template-columns: minmax(200px, 600px);

      &.active {
        display: grid;
      }

      .icon_container {
        display: flex;
        height: 100%;
        justify-self: left;
        text-align: justify;
        font-size: 1em;
        padding: 0 10px;

        div {
          width: 20%;
          height: 100%;
          font-size: 3em;
          display: flex;
          align-items: center;

          img {
            position: relative;
            border: 2px solid #ccc;
            width: 100%;
          }
        }

        & > span {
          color: $content_color;
          padding: 0 15px;
          align-self: center;
          width: 80%;
        }

        .place {
          font-weight: bold;
          color: $title_color;
        }
        .year {
          font-weight: bold;
        }
      }
    }

    .hobbies {
      grid-template-rows: 4em repeat(5, minmax(70px, 100px));
    }
  }
  .social {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

    a {
      padding: 0 5px;
      font-size: 1em;
      text-decoration: unset;
      color: $icon_color;

      &:hover {
        color: $selected_icon_color;
      }
    }
  }
  .info_container {
    display: grid;
    grid-template-rows: 50px 1fr;
    background: #f8f9fa;

    &:hover {
      cursor: pointer;
    }

    .navbar {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      border-bottom: 1px solid #f1f3f4;
      align-items: center;
      z-index: 1;
      position: relative;

      div {
        color: $icon_color;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
          background: $hover_panel_color;
        }

        &.mob {
          pointer-events: none;
        }

        span {
          font-size: 0.75em;
        }

        i,
        span {
          pointer-events: none;
        }
      }

      div.selected {
        color: $selected_icon_color;
      }

      div.bottom {
        position: absolute;
        bottom: 0;
        height: 3px;
        background: $selected_icon_color;
        border-radius: 3px 3px 0 0;
        transition: all 0.25s linear;
        width: 10%;

        &.main {
          left: 12%;
        }

        &.msg {
          left: 45%;
        }
      }
    }
  }
  .users {
    width: 100%;
    display: none;
    grid-template-rows: repeat(6, 1fr);

    &.active {
      display: grid;
    }

    .category {
      display: grid;
      grid-template-columns: 0.2fr 0.8fr;
      align-items: center;
      position: relative;

      .cat_arrow {
        position: absolute;
        right: 20px;
        color: $content_color;
        font-size: 1em;

        &:hover {
          color: $selected_icon_color;
          pointer-events: none;
        }
      }

      &.work .image i.cat {
        background-color: $work_bg;
      }
      &.education .image i.cat {
        background-color: $education_bg;
      }
      &.sideprojects .image i.cat {
        background-color: $sp_bg;
      }
      &.hobbies .image i.cat {
        background-color: $hobbies_bg;
      }

      .image {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $active_panel;

        &:active {
          pointer-events: none;
        }

        &:hover {
          background-color: $hover_panel_color;
        }

        img,
        i.cat {
          width: $profile_pict_size;
          height: $profile_pict_size;
          border-radius: 50%;
          color: #f8f9fa;
        }
        i.cat {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        i.mic {
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 1em;
          color: $mic_color;
        }
      }

      .cat_name {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 5%;
        font-size: 0.75em;

        &:hover {
          pointer-events: none;
          background: rgba(60, 64, 67, 0.04);
        }
      }

      &.selected {
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: $names_color;
          opacity: 0.7;
          z-index: 0;
        }
        i.mic {
          z-index: 1;
          color: $mic_active_color;
        }
      }
    }
  }
  .msg_container {
    display: none;
    cursor: default;
    overflow-y: auto;

    &.active {
      display: grid;
      grid-template-rows: 1fr 5em;
    }

    .messages {
      padding: 14px 24px;
      word-break: break-word;

      div p:first-child {
        padding-top: 20px;
      }

      p {
        color: $names_color;
        margin: 5px 0;
      }
      #time {
        color: $content_color;
      }
      i {
        font-size: 1em;
      }
    }

    div.send {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      height: 100%;
      border-top: 1px solid #f1f3f4;

      input {
        width: 70%;
        padding: 10px;
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
        background: transparent;
      }

      i {
        color: $icon_color;
        padding: 10px;

        &:hover {
          color: $selected_icon_color;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .page {
    font-size: 1.25em;
  }
  .mob {
    display: none !important;
  }
  .pc {
    display: block;
  }

  span.pc {
    padding: 0 0.2em;
  }

  .container.msg_container {
    position: absolute;
    right: 0;
    width: 100%;
    top: 50px;
    height: calc(100% - 50px);
  }

  .container .msg_container div.send {
    align-self: end;
  }

  .container {
    grid-template-columns: 1fr 320px;
    grid-template-rows: 1fr;

    div.info_container .navbar div.bottom {
      width: 91px;
      &.main {
        left: 34.5px;
      }
      &.msg {
        left: 200px;
      }
    }

    .social {
      bottom: 10px;
      width: calc(100% - 320px);
      height: 1em;
    }
    .container .main_container .page.sideprojects .slides {
      min-width: 400px;
    }

    .users {
      grid-template-rows: repeat(5, 56px);
      .category {
        grid-template-columns: 100px 1fr;
      }
    }
  }
}
